/// VARIABLE FONTS 
$font_roboto: "Roboto", sans-serif;

/// COLORS
/// VARIABLE FONT COLORS
$c-dgreen: #233c33;
$c-blackgreen: #071712;
$c-white: #ffffff;
$c-black: #000000;
$c-green: #316553;
$c-lgreen: #5f8275;
$c-llgreen: #93cdb9;

/// VARIABLE BACKGROUND COLORS 
/// Lightest grey, almost white
$b_dgreen: #e8e8e8;

/// White
$b_blackgreen: #ffffff;

/// Light green
$b_white: rgb(220, 235, 231);

/// Dark green
$b-dgreen: #233c33;

/// Light grey
$b-green: #e6e6e6;

/// Dark grey
$b-dgrey: #595959;

/// Orange
$b-orange: #f2bd85;

/// Light blue
$b-lgreen: #e1edf7;

/// Light, highligter green
$b-llgreen: rgb(177, 232, 214);

/// Dark green, almost black
$b_dgreenblack: #091d17;

/// White with opacity
$b_white-o: rgba(255, 255, 255, 0.8);

/// Green
$b_green: #316553;

/// Black
$b_black: #000000;

/// MAIN DEFAULT SETTINGS **///
/// Re-set boxmodel ///
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/// Clearfix ///
.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
  }
}
.row {
  &:after {
    clear: both;
  }
}

/// Default settings for blocks + fix to support HTML5 for older browsers ///
section {
  display: block;
  width: 100%;
  min-height: 100px;
  padding: 50px;
}

article {
  display: block;
}

aside {
  display: block;
}

footer {
  display: block;
  width: 100%;
  background-color: $b_black;
  color: $c-white;
  padding: 25px;
}

header {
  display: block;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  padding: 25px;
}

nav {
  display: block;
}

/// Main settings ///
html {
  height: 100%;
  line-height: 1.5;
  font-size: 10px;
  font-family: $font_roboto;
}

body {
  height: 100%;
  line-height: 1.5;
  font-size: 10px;
  font-family: $font_roboto;
  background-color: $b_dgreen;
}

.page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/// Font-sizes & font-weights, and default padding/margins ///
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: 900;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 20px;
  > strong {
    font-size: 1.6rem;
  }
  > span {
    font-size: 1.6rem;
  }
}

a {
  font-size: 1.6rem;
  font-weight: 900;
  color: $c-dgreen;
  &:hover {
    color: $c-blackgreen;
  }
}

/// Top menu styling ///
.topmenu-logo {
  width: 300px;
}

.topmenu-links {
  display: flex;
}

///** FLEXBOX STYLING **///
/// Make a row ///
.make-row {
  display: flex;
  flex-flow: row;
  align-content: space-around;
}

/// Make a column ///
.make-col {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/// Center the content ///
.make-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/// Center the text ///
.center-text {
  text-align: center;
}

/// Let the content wrap ///
.make-wrap {
  display: flex;
  flex-flow: wrap;
}

/// Add margin 10px ///
.make-space10 {
  margin: 10px;
}

/// Add margin 20px///
.make-space20 {
    margin: 20px;
}

/// Add margin 20px to bottom ///
.make-space20b {
  margin-bottom: 20px;
}

/// Smaller margins at bottom ///
.remove-space {
  margin-bottom: 5px;
}

/// Add 20px margins up & down ///
.make-ma20tb {
  margin: 20px 0px 20px 0px;
}

///** COLOR PLATES **///
.white-back {
  background-color: $b_blackgreen;
}

.lgreen-back {
  background-color: $b_white;
}

.dgreen-back {
  background-color: $b-dgreen;
  color: $c-white;
}

.lgrey-back {
  background-color: $b-green;
}

.orange-back {
  background-color: $b-orange;
}

.lblue-back {
  background-color: $b-lgreen;
}

.blackgreen-back {
  background-color: $b_dgreenblack;
  color: $c-white;
}

#top-section {
  background-image: linear-gradient(#0a1c16, #162822);
}

///** TEXT STYLINGS, EFFECTS **///
/// Remove bulletins form lists ///
.big-h1 {
  text-transform: uppercase;
  align-content: center;
  font-weight: 800;
  text-align: center;
  align-self: center;
  line-height: 1.2;
}

.no-bull {
  list-style-type: none;
}

/// Text color, when on dark color plates ///
.ondark {
  > a {
    &:hover {
      color: $c-white;
    }
  }
}

.on-dark {
  color: $c-white;
  > a {
    &:hover {
      color: $c-white;
    }
  }
}

.greentext {
    color: $c-green;
}

/// Shadow below text ///
.shadow {
  text-shadow: 1px 1px 5px #000000;
}

/// Hightligt text, marker pen style ///
.marker {
  background-color: $b-llgreen;
  display: inline;
  padding: 5px;
  color: $c-black;
}

///** FILES TO EMBED, RESPONSIVE **///
/// Overall style, spacing ///
object {
  margin: 20px 0px 20px 0px;
}

video {
  margin: 20px 0px 20px 0px;
}

/// Make images rounded ///
.make-round {
  border-radius: 50%;
}

/// Images inserted through CSS ///
#hero-image {
  background-image: url("../files/images/hero-image.jpg");
  background-color: $b-llgreen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wall-back {
  overflow: hidden;
  background-image: url("../files/images/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg");
  background-color: $b-orange;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/// Embedded PDF ///
#embed-brochure {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

///** BUTTONS **///
/// Default button styling ///
.button {
  > a {
    background-color: $b_white-o;
    border: none;
    color: $c-green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: $font_roboto;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    &:link {
      background-color: $b_white-o;
      border: none;
      color: $c-green;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: $font_roboto;
      font-size: 16px;
      font-weight: 900;
      text-decoration: none;
    }
    &:visited {
      background-color: $b_white-o;
      border: none;
      color: $c-green;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: $font_roboto;
      font-size: 16px;
      font-weight: 900;
      text-decoration: none;
    }
    &:hover {
      background-color: $b_green;
      color: $c-white;
    }
  }
}

/// Back to top button ///
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.to-top-btn {
  transition: all 0.2s ease-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 80px;
  height: 80px;
  background-color: $b_white-o;
  color: $c-blackgreen;
  box-shadow: 1px 1px 5px #505050;
  > a {
    &:link {
      text-decoration: none;
    }
  }
}

///** FOOTER STYLING **///
.footer-rows {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

#copyright {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-flow: row;
  flex-wrap: nowrap;
  > li {
    > p {
      font-size: 1.2rem;
      color: $c-llgreen;
      margin-bottom: 0px;
    }
    margin: 10px;
  }
}

/// Social icons ///
.social {
  > li {
    margin: 10px;
    &:first-of-type {
      margin-left: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}

/// MEDIA QUERIES ///
/* Mobile Styles */
@media only screen and (max-width: 420px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .big-h1 {
    font-size: 3em;
  }

  .hero-image {
    height: 700px;
  }

  .topmenu-links {
    font-size: 3rem;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    > a {
      padding: 20px 64px;
      font-size: 26px;
      width: 100%;
      margin-bottom: 25px;
      &:link {
        padding: 20px 64px;
        font-size: 26px;
        width: 100%;
        margin-bottom: 25px;
      }
      &:visited {
        padding: 20px 64px;
        font-size: 26px;
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }

  #brochure {
    height: 300px;
    width: 320px;
    height: 450px;
  }

  #video {
    width: 320px;
    height: 180px;
  }

  #copyright {
    display: flex;
    flex-flow: column;
  }
}

/* TABLET Style */
@media only screen and (min-width: 421px) and (max-width: 960px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    align-content: center;
    height: 600px;
  }

  .big-h1 {
    font-size: 3.5em;
  }

  .topmenu-links {
    font-size: 3em;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .button {
    > a {
      padding: 20px 64px;
      font-size: 22px;
      width: 100%;
      margin-top: 25px;
      &:link {
        padding: 20px 64px;
        font-size: 22px;
        width: 100%;
        margin-top: 25px;
      }
      &:visited {
        padding: 20px 64px;
        font-size: 22px;
        width: 100%;
        margin-top: 25px;
      }
    }
  }

  #video {
    width: 410px;
    height: 225px;
  }

  iframe {
      border: 0;
  }

  #brochure {
    width: 410px;
    height: 600px;
  }
}

/* DESKTOP Style */
@media only screen and (min-width: 961px) {
  .big-h1 {
    line-height: 1.2;
  }

  header {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    height: 800px;
  }

  .topmenu-logo {
    justify-content: flex-start;
  }

  .topmenu-links {
    justify-content: flex-end;
  }

  .button {
    & + .button {
      margin-left: 25px;
    }
  }

  #top-section {
    height: 200px;
  }

  #video {
    width: 920px;
  }

  #brochure {
    width: 410px;
    height: 600px;
  }
}
